# Object file
*.o

# Ada Library Information
*.ali

# object files
obj/

# clang-format ?
.clang-format

# don't commit tests before we are ready
tests/frontend/*.notready

# don't comment kyua test results
tests/html
