# Object file
*.o

# Ada Library Information
*.ali

# object files
obj/
obj-rs/

# clang-format ?
.clang-format

# don't commit tests before we are ready
tests/frontend/*.notready

# don't comment kyua test results
tests/html

# extracted vendor sources
vendor/sqlite3
vendor/*.gz

# sqlite workfiles
sqlite/*.[ch]
sqlite/*.pico
sqlite/libcustom_sqlite_pic.a

# build scripts
buildme.sh
